/BonkersVisualizer/cmake-build-debug/
/BonkersVisualizer/cmake-build-release/
/BonkersVisualizer/.idea/
/ProtoBuf/ProtoFiles/Practice/LotViewer/cmake-build-debug/
/Protobuf/ProtoFiles/Practice/LotViewer/cmake-build-release/
/Protobuf/ProtoFiles/Practice/LotViewer/.idea/
/RemoteControl/RemoteControl/bin/
/RemoteControl/RemoteControl/obj/
ProtoBuf/ProtoFiles/Practice/LotViewer/.idea/workspace.xml
