/BonkersVisualizer/cmake-build-debug/
/BonkersVisualizer/cmake-build-release/
/BonkersVisualizer/.idea/
/ProtoBuf/ProtoFiles/Practice/LotViewer/cmake-build-debug/
/Protobuf/ProtoFiles/Practice/LotViewer/cmake-build-release/
/Protobuf/ProtoFiles/Practice/LotViewer/.idea/
/RemoteControl/RemoteControl/bin/
/RemoteControl/RemoteControl/obj/
ProtoBuf/ProtoFiles/Practice/LotViewer/.idea/
.idea/
ProtoBuf/ProtoFiles/Practice/LotManager/.idea/
ProtoBuf/ProtoFiles/Practice/LotManager/LotManager/bin/
ProtoBuf/ProtoFiles/Practice/LotManager/LotManager/obj/