/BonkersVisualizer/cmake-build-debug/
/BonkersVisualizer/cmake-build-release/
/ProtoBuf/ProtoFiles/Practice/LotViewer/cmake-build-debug/
/Protobuf/ProtoFiles/Practice/LotViewer/cmake-build-release/
/RemoteControl/RemoteControl/bin/
/RemoteControl/RemoteControl/obj/