# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RemoteControl.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\GitRepos\IrrigationStation\RemoteControl\.idea\.idea.RemoteControl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
